<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <!-- Main CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{ pagename }}</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
        <a class="navbar-brand" href="https://www.marutisuzuki.com/channels/arena/all-cars/?form=testdrive&utm_source=google&utm_medium=cpc&utm_campaign=11476038472&utm_term=%2Bmaruti%20%2Bsuzuki&utm_content=c&gclid=CjwKCAjwhMmEBhBwEiwAXwFoEftKJKq2xSZTcL4xrc_7D7e-1DEi3h3Kk_bC6CBH0XdF5vUc-Tv8LxoCC90QAvD_BwE">

            <img src="{{url_for('static',filename='images/logo.jpg')}}" alt="" width="150" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('websiteapp') }}">WebsiteApp</a>
            </ul>
        </div>
    </nav>

{% block bodyblock %}
{% endblock %}
<!-- Bootstrap JQuery -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>
