  {% extends 'base.html' %}

  {%block bodyblock %}
          <div class="container">
              <br><br>
              <h3 class="display-2"> Welcome to <span style="color:#198b90">Website Component Detection</span></h3>
          <br>
  	        <div class="mx-auto" style="width: 1000px;">
  	        	<p class="lead">
					In this software, you will be able to upload images of your website screenshots and detect six types of website components, which include: text field, image, button, menu bar, side bar, and navbar. This software will also provide HTML templates that have been detected by our software. Go to the WebApp to find out more about our software and try it for yourself. Types of website components detected:  	        	</p>
  	        	<br>
  	        	<p class='display-4'>Text Field</p>
  	        		<img src="{{ url_for('static',filename='images/text-field.png') }}" class="img-thumbnail" alt="Cinque Terre">
  	        		<br><br>
  	        	<p class='display-4'>Image</p>
  	        		<img src="{{ url_for('static',filename='images/images.png') }}" class="img-thumbnail" alt="Cinque Terre">
  	        		<br><br>
  	        	<p class='display-4'>Button</p>
  	        		<img src="{{ url_for('static',filename='images/button.jpg') }}" class="img-thumbnail" alt="Cinque Terre">
  	        		<br><br>
  	        	<p class='display-4'>Menu Bar</p>
  	        		<img src="{{ url_for('static',filename='images/menu-bar.png') }}" class="img-thumbnail" alt="Cinque Terre">
  	        		<br><br>
				<p class='display-4'>Side Bar</p>
  	        		<img src="{{ url_for('static',filename='images/side-bar.png') }}" class="img-thumbnail" alt="Cinque Terre">
  	        		<br><br>
  	        </div>
          </div>
  {% endblock  %}
