  {% extends 'base.html' %}

  {% block bodyblock %}
      <div class="container">
          <br>
          <h3 class="display-2">Web Component Detection</h3>
          <div class="mx-auto" style="width: 1000px;">
  	        <p class="lead">
				Web Component Detection: This app is driven by data and a machine learning model. As soon as the user uploads the image, in the background we use machine learning detection software to detect the damage. All this functionality is dumped into the Flask app. Machine learning algorithms are data-hungry, which means they thrive on more data. We constantly add more data to our algorithm to increase its accuracy. Images that you upload will later be used to train our model as well.</p>
  	        <br>
  	        <div align="center">
  	            <a class="btn btn-outline-primary" href="{{ url_for('website') }}">Try it now</a>
  	        </div>
  	        <br>
      	</div>

      </div>
  {% endblock  %}
